name: Build and push Docker images

on:
  workflow_dispatch:
  schedule:
  # every monday at 2am
    - cron: '0 2 * * 1'

jobs:
  base:
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: base
      context: base
      test: true
      base_image: ubuntu:20.04
      base_image_gpu: nvidia/cuda:11.7.1-cudnn8-devel-ubuntu20.04
      external_base_image: true
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  python-minimal:
    needs: [base]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: python-minimal
      context: python-minimal
      test: false
      base_image: base
      python_version_1: 3.9.13
      python_version_2: 3.10.4
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  python-datascience:
    needs: [python-minimal]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: python-datascience
      context: python-datascience
      test: false
      base_image: python-minimal
      python_version_1: 3.9.13
      python_version_2: 3.10.4
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  python-pytorch:
    needs: [python-minimal]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: python-pytorch
      context: python-pytorch
      test: false
      base_image: python-minimal
      python_version_1: 3.9.13
      python_version_2: 3.10.4
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  python-tensorflow:
    needs: [python-minimal]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: python-tensorflow
      context: python-tensorflow
      test: false
      base_image: python-minimal
      python_version_1: 3.9.13
      python_version_2: 3.10.4
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  r-minimal:
    needs: [base]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: r-minimal
      context: r-minimal
      test: false
      base_image: base
      r_version_1: 4.1.3
      r_version_2: 4.2.1
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  r-datascience:
    needs: [r-minimal]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: r-datascience
      context: r-datascience
      test: false
      base_image: r-minimal
      r_version_1: 4.1.3
      r_version_2: 4.2.1
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
  jupyter-python:
    needs: [python-datascience]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: jupyter-python
      context: jupyter
      test: false
      base_image: python-datascience
      python_version_1: 3.9.13
      python_version_2: 3.10.4
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  vscode:
    needs: [python-datascience]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: vscode-python
      context: vscode
      test: false
      base_image: python-datascience
      python_version_1: 3.9.13
      python_version_2: 3.10.4
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  pyspark:
    needs: [python-minimal]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: pyspark
      context: spark
      test: false
      base_image: python-minimal
      python_version_1: 3.9.13
      python_version_2: 3.10.4
      spark_version: 3.3.0
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  jupyter-pyspark:
    needs: [pyspark]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: jupyter-pyspark
      context: jupyter
      test: false
      base_image: pyspark
      python_version_1: 3.9.13
      python_version_2: 3.10.4
      spark_version: 3.3.0
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  vscode-pyspark:
    needs: [pyspark]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: vscode-pyspark
      context: vscode
      test: false
      base_image: pyspark
      python_version_1: 3.9.13
      python_version_2: 3.10.4
      spark_version: 3.3.0
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  jupyter-pytorch:
    needs: [python-pytorch]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: jupyter-pytorch
      context: jupyter
      test: false
      base_image: python-pytorch
      python_version_1: 3.9.13
      python_version_2: 3.10.4
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  vscode-pytorch:
    needs: [python-pytorch]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: vscode-pytorch
      context: vscode
      test: false
      base_image: python-pytorch
      python_version_1: 3.9.13
      python_version_2: 3.10.4
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  jupyter-tensorflow:
    needs: [python-tensorflow]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: jupyter-tensorflow
      context: jupyter
      test: false
      base_image: python-tensorflow
      python_version_1: 3.9.13
      python_version_2: 3.10.4
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  vscode-tensorflow:
    needs: [python-tensorflow]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: vscode-tensorflow
      context: vscode
      test: false
      base_image: python-tensorflow
      python_version_1: 3.9.13
      python_version_2: 3.10.4
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  r-studio:
    needs: [r-datascience]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: rstudio
      context: rstudio
      test: false
      base_image: r-datascience
      r_version_1: 4.1.3
      r_version_2: 4.2.1
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  sparkr:
    needs: [r-minimal]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: sparkr
      context: spark
      test: false
      base_image: r-minimal
      r_version_1: 4.1.3
      r_version_2: 4.2.1
      spark_version: 3.3.0
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
  rstudio-sparkr:
    needs: [sparkr]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: rstudio-sparkr
      context: rstudio
      test: false
      base_image: sparkr
      r_version_1: 4.1.3
      r_version_2: 4.2.1
      spark_version: 3.3.0
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  jupyter-r:
    needs: [r-datascience]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: jupyter-r
      context: jupyter
      test: false
      base_image: r-datascience
      r_version_1: 4.1.3
      r_version_2: 4.2.1
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
  r-python-julia:
    needs: [r-minimal]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: r-python-julia
      context: r-python-julia
      test: false
      base_image: r-minimal
      r_version_1: 4.2.1
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
