name: Main workflow template

on:
  workflow_dispatch:

env:
  PUSH: true


jobs:
  base:
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: base
      context: base
      test: true
      push: ${{ env.PUSH }}
      base_image: ubuntu:20.04
      base_image_gpu: nvidia/cuda:11.3.1-base-ubuntu20.04
  python:
    needs: [base]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: python
      context: python
      test: false
      push: ${{ env.PUSH }}
      base_image: inseefrlab/onyxia-base:latest
      base_image_gpu: inseefrlab/onyxia-base:latest-gpu
  r:
    needs: [base]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: r
      context: r
      test: false
      push: ${{ env.PUSH }}
      base_image: inseefrlab/onyxia-base:latest
      base_image_gpu: inseefrlab/onyxia-base:latest-gpu
  jupyter:
    needs: [python]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: jupyter
      context: jupyter
      test: false
      push: ${{ env.PUSH }}
      base_image: inseefrlab/onyxia-python:latest
      base_image_gpu: inseefrlab/onyxia-python:latest-gpu
  vscode:
    needs: [python]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: vscode-python
      context: vscode
      test: false
      push: ${{ env.PUSH }}
      base_image: inseefrlab/onyxia-python:latest
      base_image_gpu: inseefrlab/onyxia-python:latest-gpu
  pyspark:
    needs: [python]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: pyspark
      context: spark
      test: false
      push: ${{ env.PUSH }}
      base_image: inseefrlab/onyxia-python:latest
      base_image_gpu: inseefrlab/onyxia-python:latest-gpu
  jupyter-pyspark:
    needs: [pyspark]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: jupyter-pyspark
      context: jupyter
      test: false
      push: ${{ env.PUSH }}
      base_image: inseefrlab/onyxia-pyspark:latest
      base_image_gpu: inseefrlab/onyxia-pyspark:latest-gpu
  r-studio:
    needs: [r]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: rstudio
      context: rstudio
      test: false
      push: ${{ env.PUSH }}
      base_image: inseefrlab/onyxia-r:latest
      base_image_gpu: inseefrlab/onyxia-r:latest-gpu
  sparkr:
    needs: [r]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: sparkr
      context: spark
      test: false
      push: ${{ env.PUSH }}
      base_image: inseefrlab/onyxia-r:latest
      base_image_gpu: inseefrlab/onyxia-r:latest-gpu
  rstudio-sparkr:
    needs: [sparkr]
    uses: ./.github/workflows/main-workflow-template.yml
    with:
      image: rstudio-sparkr
      context: rstudio
      test: false
      push: ${{ env.PUSH }}
      base_image: inseefrlab/onyxia-sparkr:latest
      base_image_gpu: inseefrlab/onyxia-sparkr:latest-gpu
